	<div class="footer text-center">
		<div class="horizontal-bar-2"></div>
        <div>&copy; 2018-present by DOOYEED Inc. (US Patent pending, No. 62/713,lll)</div>  
      <div class="small-font">
        <span lang="en">RUR supports the following browsers with the minimum version requirements: <br>Chrome v60, Firefox v55, IE v9, Opera v40, and Safari v9. <br>Other browsers or versions may have problems.</span>
        <span lang="zh">RUR 支持以下浏览器和最低版本要求:<br>Chrome v60、Firefox v55、IE v9、Opera v40、及 Safari v9。<br>不在这个范围内的其他浏览器版本可能会有问题。</span>
      </div>
    </div> <!-- /footer -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-55500312-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-55500312-2');
</script>
