<div class="header">
      <div class="top">
		  <img class="logo" src="{{ url_for('static', filename='images/dooyeed _h@2x.png') }}" alt="dooyeed logo">
		  <div class="horizontal-bar-1">
		  <h6 class="text-center"><span lang="en">An Intelligent Reader</span><span lang="zh">得意读 | 智能辅助阅读工具</span></h6>
		  </div>
        <ul class="menu align-center">	
          <li><a href=""><span lang="en">Home</span><span lang="zh">首页</span></a></li>
          <li><a href=""><span lang="en">About</span><span lang="zh">简介</span></a></li>
          <li><a href=""><span lang="en">Contact</span><span lang="zh">联系</span></a></li>
          <li><a href=""><span lang="en">Reader</span><span lang="zh">阅读</span></a></li>
          <li><a href=""><span lang="en">Logout</span><span lang="zh">退出登录</span></a></li>
        </ul>
      </div>
      <div class="grid-container">
        <!-- div class="large-12 cell text-center logo">
          <h1>dooyeed</h1>
          <h6><span lang="en">An Intelligent Reader</span><span lang="zh">智能辅助阅读工具</span></h6>
        </div -->
      </div>
</div> 
