<!doctype html>
<!-- <h5>About RUR Reading</h5> -->
            
<span lang="en">Dooyeed uses intelligent text algorithms to highlight important parts of a document in descending order to facilitate reading for understanding. It allows the user to read the most important block of sentences first, then the next important block embedded in the previous blocks in the original order of the document, until the entire document or a certain layer of blocks is read. Different blocks are distinguished with different colors.</span>
<span lang="zh">RUR 用智能文本算法从高到低逐层标注文章重点，促成理解性阅读。阅读首先从第1块区域开始，这是全文的重中之重，然后按区块重点顺序依次加进新区域，按原文句子顺序嵌入到已经阅读过的区块中，直到阅读完整篇文章或按读者需求读到某层次的区域。不同的区块用不同的颜色区分。<br></span>
